/*.superInput {*/
/*    background: #f15d22;*/
/*    border: none;*/
/*    border-radius: 5px;*/
/*    color: #fff;*/
/*    cursor: pointer;*/
/*    display: inline-block;*/
/*    font-family: 'Rubik', sans-serif;*/
/*    font-size: inherit;*/
/*    font-weight: 500;*/
/*    margin-bottom: 1rem;*/
/*    outline: none;*/
/*    padding: 1rem 50px;*/
/*    position: relative;*/
/*    transition: all 0.3s;*/
/*    vertical-align: middle;*/
/*}*/


.superInput {
    background-color: black;
    margin: 10px 5px;
    border: 0px;
    border-radius: 5px;
    color: white;
    display: inline-block;
    padding: 1rem 50px;


}


.errorInput {
    border: 1px solid red;
    padding: 1rem 50px;
    border-radius: 5px;

}

.error {
    color: red;
    margin: 10px;

}