.menu {

    position: absolute;
    left: 20px;
    top: 55px;
    z-index: -1;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    width: 400px;
    height: 50px;
    background-color: black;
    border-radius: 5px;

    transition: transform .3s
    cubic-bezier(0, .52, 0, 1);




}

.menuShow {




    transform: translate3d(0, 0, 0);


}

.menuHide {

    transform: translate3d(-600px, 0, 0);

}



.blue_link {

    color: white;
    background-color: blue;

}
.yellow_link {

    color: white;
    background-color: yellow;
}

.li_nav {

    display: inline;
margin: 10px 10px;
}