.menu {

    display: block;

}

.menuShow {

    display: block;

}

.menuHide {

    display: none;

}



.blue_link {

    color: white;
    background-color: blue;

}
.yellow_link {

    color: white;
    background-color: yellow;
}

.li_nav {

    display: inline;
margin: 10px 10px;
}