.menuIconBox {


    width: 35px;
    height: 35px;
    background-color: black;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    padding: 3px ;
    margin: 20px 0px;

}


.menuIcon {
    width: 25px;
    height: 4px;
    background-color: white;
    /*margin: 10px 0px;*/

}