.default {


    background-color: black;
    color: yellowgreen;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 10px 5px;
    font-weight: bold;
    transition-duration: 0.4s;
    border: 0px;



    /*background: #99c793;*/
    /*border: none;*/
    /*border-radius: 50px;*/
    /*color: #fff;*/
    /*cursor: pointer;*/
    /*display: inline-block;*/
    /*font-family: 'Rubik', sans-serif;*/
    /*font-size: inherit;*/
    /*font-weight: 500;*/
    /*margin-bottom: 1rem;*/
    /*outline: none;*/
    /*padding: 1rem 50px;*/
    /*position: relative;*/
    /*transition: all 0.3s;*/
    /*vertical-align: middle;*/
}

.default:hover {
    /*background-color: #3ec635;*/

    color: black;
    cursor: pointer;
    background-color: yellowgreen;

}

.red {
    background-color: red;
    color: yellowgreen;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 10px 5px;
    font-weight: bold;
    transition-duration: 0.4s;
    border: 0px;
    cursor: pointer;
}

.red:hover {

    background-color: #8d1c1c;
    color: white;

}

